body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box
}

.site-header .app__brand {
  font-size: 2rem;
  margin-right: auto;
}